.masterView {
    padding-left: 16px;
}

.masterView #title {
    font-size: 30px;
}

.masterView #subtitle {
    font-size: 20px;
}

.button {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	padding:10px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	margin-right: 20px;
}

.button:hover {
	background-color:#5cbf2a;
}

.button:active {
	position:relative;
	top:1px;
}

#cancel {
    background-color: crimson;
    border:1px solid #BC041C;
}

#cancel:hover {
    background-color: firebrick;
}